@{ ViewData["Title"] = "Account"; }
@model User

<style>
    label {
        display: inline-block;
        width: 140px;
        text-align: right;
    }

</style>

<br />
<br />
<h1 class="text-center">Edit Account</h1>
<br />
<form method="post" asp-controller="Account" asp-action="UpdateAccount" class="text-center" style="grid-column-start: 3; grid-column-end: span 2; grid-row-start: 4;">
    <label asp-for="FirstName">First Name: </label>
    <input asp-for="FirstName" value="@Model.FirstName" />
    <br />
    <label asp-for="LastName">Last Name: </label>
    <input asp-for="LastName" value="@Model.LastName" />
    <br />
    <label asp-for="Email">Email Address: </label>
    <input asp-for="Email" size="20" value="@Model.Email" />
    <br />
    <label asp-for="UserName">Username: </label>
    <input asp-for="UserName" value="@Model.UserName" />
    <br />
    <input type="hidden" id="ID" name="ID" value="@Model.Id" />
    <br />
    <button class="btn btn-outline-primary" type="submit">Edit User</button>
    <div asp-validation-summary="All"></div>
</form>